@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

body{
	font-family: 'Mali', cursive;
}

.ln_info{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid black;
    background-color: white;
}

.ln_name{
	font-size: 30px;
    margin: 0px;
    margin-top: 5px;
    text-align: center;
	max-height: 40px;
	overflow: hidden;
}

.chap_name{
	font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
	max-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.control_div{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: white;
}

.controlIcon{
    height: 50px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
}

.controlIcon>img{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.previousChap, .home, .nextChap{
	background: lightgray;
}

.previousChap>img{
    height: 80%;
    margin-top: 5px;
}

.textFormat>img{
    height: 50%;
    margin-top: 13px;
}

.home>img{
    height: 60%;
    margin-top: 10px;
}

.info>img{
    height: 80%;
    margin-top: 5px;
}

.nextChap>img{
    height: 80%;
    margin-top: 5px;
}

.chap_content{
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 60px;
}

.chap_content>p{
	font-size: 20px;
}

.chap_content>img{
    width: 100%;
}

button{
    border: 0px;
}

@media screen and (max-width: 700px){
    .chap_content{
        max-width: 100%;
    }
}